﻿@*page "/counter/{id}"*@
@inherits CounterBase


<h1>Counter</h1>


@if (Loading)
{

    <p>Loading ...</p>


}
else
{

    <p>Current count: @currentCount</p>




    <button class="@ButtonType" @onclick="() => currentCount++" disabled="@(currentCount<=5)" style="color:@Color">Click me</button>


}