﻿@page "/form"

<h3>Formulaire</h3>

<EditForm OnValidSubmit="Validate" Model="client">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <InputText type="text" class="form-control" id="inputEmail4" placeholder="Name" @bind-Value="client.Name" />
            <small>

                <ValidationMessage For="() => client.Name" />
            </small>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Number</label>
            <InputNumber class="form-control" id="inputPassword4" placeholder="Number" @bind-Value="client.Number" />
            <small>

                <ValidationMessage For="() => client.Number" />
            </small>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Street</label>
        <InputText type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" @bind-Value="client.Street" />
        <small>

            <ValidationMessage For="() => client.Street" />
        </small>
    </div>
    <div class="form-group">
        <label for="inputAddress2">ZipCode</label>
        <InputText type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" @bind-Value="client.ZipCode" />
        <small>

            <ValidationMessage For="() => client.ZipCode" />
        </small>
    </div>

    <button type="submit" class="btn btn-primary">Validation</button>
</EditForm>





@code {

    public Customer client = new Customer();


    public async Task Validate() { }




}
